NUXT_PUBLIC_API_BASE_URL=http://localhost:8080
NUXT_COGNITO_CLIENT_ID=your_cognito_app_client_id
NUXT_COGNITO_CLIENT_SECRET=your_cognito_app_client_secret
NUXT_PUBLIC_COGNITO_DOMAIN=https://kra-ACCOUNT_ID.auth.eu-west-1.amazoncognito.com
NUXT_COGNITO_REDIRECT_URI=http://localhost:3000/api/auth/callback
